:root {
    --red : #eb0028;
    --black : #000000;
    --white : #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--black); 
    color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-weight: 700;
}

a,a:visited,a:hover {
    text-decoration: none;
}
.nav {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 2rem;
    position: fixed;
}
.nav .nav-logo img {
    width: 20rem;
}
.nav .nav-links a {
    margin: 0 2rem;
    color: var(--white);
    font-weight: 500;
    font-size: 20px;
}
.gradient{
    width: 1200px;
    z-index: -1;
    position: absolute;
    top: 25px;
    left: 120px;

}
.hero{
    padding-top: 10rem;  

}
.hero h1{
    font-size: 7rem;
    letter-spacing: -3.5px;
    font-weight:700;
}
.hero p{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    line-height:24px ;
}

.container{
    padding: 0 5rem;
}

/* tab section */

.section-sub{
    margin-top: 4rem;
    display: flex;
    align-items: center;
    gap: 7px;
    margin-bottom: 25px;
}
.section-sub img{
    width: 12px;
}
.section-sub h6{
    text-transform: uppercase;
    letter-spacing: 1.2px;
}


.tabs{
    border: 2px solid var(--white);
    border-radius: 20px;
    min-height: 250px;
}
.tab__sidebar{
    padding: 0 12px; 
    width: 100%;
    display: flex;
    align-items: center;

}
.tab__button{
    flex: 1;
    padding-top: 10px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.912);
    font-size: 1rem;
    background: none;
    outline: none;
    cursor: pointer;
}
.tab__button--active{
    color:var(--red);
    border-top:5px solid var(--red) ;
}
.tab__content{
    font-size: 20px;
    padding: 2.5rem;
    line-height:25px; 
    display: none;
    letter-spacing: 0.5px;
}
.tab__content--active{
    display: block;
}



/* Media Query */

@media only screen and (max-width: 600px) {
    .gradient{
        display: none;
    }
}